## Sven Co-op Map CFG file - HLSP Series Maps 
## Chapter 02: Unforseen Consequences
## Map By: Valve Software

mp_weapon_respawndelay -1
mp_ammo_respawndelay -1
mp_item_respawndelay -1
mp_allowmonsterinfo 0

mp_disablegaussjump 1
mp_npckill 2
mp_monsterpoints 1
mp_timelimit 120
mp_fraglimit 0
mp_flashlight 1
mp_falldamage 1
mp_forcerespawn 0
mp_weaponstay 0
sv_accelerate 10
sv_airaccelerate 10
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
mp_disable_autoclimb 1
mp_multiplespawn 1
mp_telefrag 0
mp_hevsuit_voice 1

npc_dropweapons 1


nomedkit

map_script HLSP
mp_survival_supported 1
mp_survival_nextmap hl_c02_a2